<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgBxMfHD7sHvInd11p1KN5WIx5klN-8m4</string>
	<key>GCM_SENDER_ID</key>
	<string>185966042146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.partytime</string>
	<key>PROJECT_ID</key>
	<string>partytime-bce04</string>
	<key>STORAGE_BUCKET</key>
	<string>partytime-bce04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185966042146:ios:f65d4f9560503e3e95fe7b</string>
</dict>
</plist>