<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048334599741-rtntr4sdkdjcebr6ce1d2r6uga7og7g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048334599741-rtntr4sdkdjcebr6ce1d2r6uga7og7g0</string>
	<key>API_KEY</key>
	<string>AIzaSyDzRA1CCVJNaMP34kdJUYIJeFEeWvxDTS8</string>
	<key>GCM_SENDER_ID</key>
	<string>1048334599741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.party-radar</string>
	<key>PROJECT_ID</key>
	<string>party-radar-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>party-radar-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048334599741:ios:f942209e7acef7f8234c54</string>
</dict>
</plist>